<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!--link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Blog">Blog</a></li>
        <li><a href="/">About</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div>
    <footer>
      <ul>
        <li><a href="https://github.com/aad8">github.com/aad8</a></li>
        <li><a href="https://aad8.github.io"> aad8.github.io </a></li>
      </ul>
    </footer>
  </body>
</html>
